@import '../styles/colours.scss';

.box {
    border: $light-coal 1px;
    border-style: solid;
    max-width: 200px;
    max-height: 250px;
    margin: 5px;
}

.title {
    padding: 5px;
    font-size: 0.9em;
    line-height: normal;
    padding-bottom: 0px;
}

.boximage {
    margin-bottom: 0px;
}